.socials-footer {
    @media screen and(min-width:768px) {

        margin-left: 24px;
    }

    @media screen and(min-width:1200px) {
        margin-left: 70px;
    }



}

.subtitle-footer {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--brand-color-4);

    margin-bottom: 16px;

    @media screen and(min-width:768px) {
        text-align: left;
    }



}

.socials-footer-list {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;
    margin-bottom: 60px;

    @media screen and(min-width:768px) {
        margin-bottom: 0;
    }

}

.socials-link-footer {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    color: #F4F4FD;
    background-color: rgba(91, 97, 102, 0.4);
    border-radius: 50%;

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: #F4F4FD;
        background-color: #31D0AA;
    }
}

.socials-icon-footer {
    fill: currentColor;
}