.header {
    border-bottom: 1px solid #ECECEC;
}

.header-container {
    display: flex;
    align-items: center;
    

    @media screen and (max-width:767px){
    height: 60px;
    }
    
    @media screen and (min-width:1200px) {
        height: 78px;
    }

    
}

.header-contacts {
 
    display: block;

    @media screen and (max-width:767px) {
            display: none;
        }



    @media screen and(min-width:1200px){
        display: flex;
        align-items: center;
        
    }
    
    
}

.header-contacts__mail {
    @media screen and(max-width:1199px){
        margin-bottom: 10px;
    }
    

    @media screen and(min-width:1200px){
    margin-right: 50px;
    }
}

.header-contacts__link {

    display: flex;
    gap: 10px;

    font-style: normal;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--brand-color-2);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--brand-color-1);
    }

    @media screen and(min-width:1200px) {
        padding-top: 32px;
        padding-bottom: 32px;

        align-items: center;
        justify-content: center;


    }
}

.header-contacts__icon {
    fill: currentColor;

}