.header {
    border-bottom: 1px solid #E7E9FC;
}

.header-container {
    display: flex;
    align-items: center;
    

    @media screen and (max-width:767px){
    height: 70px;
    }
    
    @media screen and (min-width:1200px) {
        height: 76px;
    }

    
}

.header-contacts {
 
    display: block;

    @media screen and (max-width:767px) {
        display: none;
            
        }
    @media screen and (max-width:1199px){
        margin-top: 24px;
        margin: 10px;
    
    }


    @media screen and(min-width:1200px){
        display: flex;
        align-items: center;
        
    }
    
    
}

.header-contacts__mail {
    @media screen and(max-width:1199px){
        margin-bottom: 4;
    }
    

    @media screen and(min-width:1200px){
    margin-right: 40px;
    }
}

.header-contacts__link {

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    color: #434455;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--brand-color-hover);
    }

    @media screen and(min-width:1200px) {
        padding-top: 24px;
        padding-bottom: 28px;

        align-items: center;
        justify-content: center;


    }
}
