.hero {
    background-color: var(--dark-bg-cl);

    text-align: center;

    
    margin-left: auto;
    margin-right: auto;
    padding: 118px 0;

    background-position: center;
    
    background-repeat: no-repeat;
    background-size: cover;
    
    /*mobile screen*/

    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/background-img_sm@1x.jpg);
    
    /*mobile screen retina*/

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx){
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/background-img_sm@2x.jpg);
    }

    /*tablet screen*/
    
    @media screen and (min-width:768px){
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/background-img_md@1x.jpg);
    
    /*tablet screen retina*/
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/background-img_md@2x.jpg);
            }
    } 
    
    /*desktop screen*/
    @media screen and(min-width:1200px){
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/background-img_lg@1x.jpg);
    
    /*desktop screen retina*/
    
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/background-img_lg@2x.jpg);
        }
    }

    

    @media screen and(min-width:1200px){
        max-width: 1600px;
        height: 600px;
        padding: 200px 0;
    }

}

.slogan {

    font-weight: 700;
    font-size: 36px;
    line-height: calc(40/36);
    
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--brand-color-4);

    margin: 0 auto;
    margin-bottom: 30px;
    min-width: 318px;

    @media screen and(min-width:768px) {
        font-size: 56px;
        line-height: calc(60/56);
        min-width: 494px;
        }
    @media screen and(min-width:1200px) {
        width: 700px;
    }
}