
.menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

@media (max-width: 767px) {
    .menu {
        display: none;
    }
}

.menu .link {
    
color: inherit;
text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
    text-decoration: underline;
}

.menu-toggle {
    min-height: 32px;
    min-width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: auto;
    padding: 0;
    background-color: transparent;
    color: #2E2F42;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;

    position: absolute;
    top: 24px;
    right: 16px;

}


@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: #2E2F42;
}

.menu-toggle--close {
    
    position: absolute;
    top: 40px;
    right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 24px;
    min-width: 24px;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &--close:hover,
        &--close:focus {
            color: var(--brand-color-hover);
        }
}


.menu-container {
    display: flex;
    flex-direction: column;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 80px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    background-color: var(--brand-color-4);
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;


}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
}

.mobile-menu {
    padding: 0;
    margin-bottom: auto;
}

.mobile-menu__item{
    display: block;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        color: var(--brand-color-1);    
}
}
.mobile-menu__item:not(:first-child){
    margin-top: 40px;
}
.mobile-menu__link{
    display: block;


    font-weight: 700;
    font-size: 36px;
    line-height:calc(40/36);
    letter-spacing: 0.02em;
    color: #2E2F42;

}

.mobile-contacts__link-tel{
    display: block;
    margin-bottom: 40px;

    font-weight: 600;
    font-size: 24px;
    line-height: calc(40/24);
    letter-spacing: 0.02em;
    
    color:var(--brand-color-1);

    
}

.mobile-contacts__link-mail{
    display: block;
    margin-bottom: 48px;

    font-weight: 500;
    font-size: 20px;
    line-height: calc(24/20);
    letter-spacing: 0.02em;
    
    color:#434455;;
}

.mobile-socials__list{
    display: flex;
    gap: 35px;
}

.mobile-socials__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    color: #F4F4FD;
    background-color: var(--brand-color-1);
    border-radius: 50%;

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: #F4F4FD;
        background-color: var(--brand-color-hover);
    }
}

.mobile-socials__icon {
    fill: currentColor;
}




