.filters {
    padding: 94px 0;
}

.filters-list {
    display: flex;
    justify-content: center;

    margin-bottom: 50px;

    &-item:not(:first-child){
        margin-left: 8px;
    }
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.project-link {
    display: block;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &:hover .overlay,
    &:focus .overlay {
        transform: translateY(0);
    }
}

.project-thumb {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

    transform: translateY(101%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    background-color: rgba(33, 150, 243, 0.9);
}

.overlay-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    text-transform: none;

    margin: 0;
    text-align: left;
    padding-left: 24px;
    padding-right: 24px;

    color: var(--brand-color-4);
}

.project-text-box {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
}

.title-project {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    margin-bottom: 4px;
}

.desc-project {
    font-size: 16px;
    line-height: 1.8;

    color: var(--brand-color-2);
}