:root {
    --brand-color-1: #4D5AE5;
    --brand-color-2: #757575;
    --brand-color-3: #2F303A;
    --brand-color-4: #FFFFFF;
    --brand-color-hover:#404BBF;



    /* BG colors */
    --dark-bg-cl: #2E2F42;
    

}


/*BREAKPOINTS*/
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;